.serverless/serverless-state.json
{
  "service": {
    "service": "cpmsReportWorkflow",
    "serviceObject": {
      "name": "cpmsReportWorkflow"
    },
    "provider": {
      "stage": "dev",
      "region": "eu-west-1",
      "variableSyntax": "\\${([ ~:a-zA-Z0-9._'\",\\-\\/\\(\\)]+?)}",
      "name": "aws",
      "runtime": "nodejs6.10",
      "versionFunctions": true,
      "remoteFunctionData": null,
      "compiledCloudFormationTemplate": {
        "AWSTemplateFormatVersion": "2010-09-09",
        "Description": "The AWS CloudFormation template for this Serverless application",
        "Resources": {
          "ServerlessDeploymentBucket": {
            "Type": "AWS::S3::Bucket"
          },
          "IamRoleStateMachineExecution": {
            "Type": "AWS::IAM::Role",
            "Properties": {
              "AssumeRolePolicyDocument": {
                "Version": "2012-10-17",
                "Statement": [
                  {
                    "Effect": "Allow",
                    "Principal": {
                      "Service": "states.eu-west-1.amazonaws.com"
                    },
                    "Action": "sts:AssumeRole"
                  }
                ]
              },
              "Policies": [
                {
                  "PolicyName": "dev-eu-west-1-cpmsReportWorkflow-statemachine",
                  "PolicyDocument": {
                    "Version": "2012-10-17",
                    "Statement": [
                      {
                        "Effect": "Allow",
                        "Action": [
                          "lambda:InvokeFunction"
                        ],
                        "Resource": "*"
                      }
                    ]
                  }
                }
              ]
            }
          },
          "CpmsReportingWorkflowStepFunctionsStateMachine": {
            "Type": "AWS::StepFunctions::StateMachine",
            "Properties": {
              "DefinitionString": "{\"Comment\":\"A state machine that checks CPMS and retrieves reports when ready\",\"StartAt\":\"checkJob\",\"States\":{\"checkJob\":{\"Type\":\"Task\",\"Resource\":\"arn:aws:lambda:#{AWS::Region}:#{AWS::AccountId}:function:cpmsReportWorkflow-dev-check-job\",\"Next\":\"completeCheck\",\"InputPath\":\"$.id\",\"ResultPath\":\"$.jobStatus\",\"OutputPath\":\"$\"},\"completeCheck\":{\"Type\":\"Choice\",\"Choices\":[{\"Variable\":\"$.jobStatus\",\"StringEquals\":\"COMPLETE\",\"Next\":\"fetchS3\"},{\"Variable\":\"$.jobStatus\",\"StringEquals\":\"RUNNING\",\"Next\":\"waitXSeconds\"},{\"Variable\":\"$.jobStatus\",\"StringEquals\":\"FAILED\",\"Next\":\"fail\"},{\"Variable\":\"$.jobStatus\",\"StringEquals\":\"MAXRETRIES\",\"Next\":\"timedOut\"}]},\"waitXSeconds\":{\"Type\":\"Wait\",\"SecondsPath\":\"$.wait_time\",\"Next\":\"checkJob\"},\"fetchS3\":{\"Type\":\"Task\",\"Resource\":\"arn:aws:lambda:#{AWS::Region}:#{AWS::AccountId}:function:cpmsReportWorkflow-dev-fetch-s3\",\"End\":true,\"InputPath\":\"$.id\"},\"fail\":{\"Type\":\"Fail\",\"Cause\":\"Report job failed\",\"Error\":\"Cpms report failed\"},\"timedOut\":{\"Type\":\"Fail\",\"Cause\":\"Max duration of checks failed\",\"Error\":\"cpmsStatusPaid reached maximum retries\"}}}",
              "RoleArn": {
                "Fn::GetAtt": [
                  "IamRoleStateMachineExecution",
                  "Arn"
                ]
              }
            },
            "DependsOn": "IamRoleStateMachineExecution"
          }
        },
        "Outputs": {
          "ServerlessDeploymentBucketName": {
            "Value": {
              "Ref": "ServerlessDeploymentBucket"
            }
          },
          "CpmsReportingWorkflowStepFunctionsStateMachineArn": {
            "Description": "Current StateMachine Arn",
            "Value": {
              "Ref": "CpmsReportingWorkflowStepFunctionsStateMachine"
            }
          }
        }
      },
      "coreCloudFormationTemplate": {
        "AWSTemplateFormatVersion": "2010-09-09",
        "Description": "The AWS CloudFormation template for this Serverless application",
        "Resources": {
          "ServerlessDeploymentBucket": {
            "Type": "AWS::S3::Bucket"
          }
        },
        "Outputs": {
          "ServerlessDeploymentBucketName": {
            "Value": {
              "Ref": "ServerlessDeploymentBucket"
            }
          }
        }
      }
    },
    "plugins": [
      "serverless-step-functions"
    ],
    "functions": {},
    "stepFunctions": {
      "stateMachines": {
        "CpmsReportingWorkflow": {
          "definition": {
            "Comment": "A state machine that checks CPMS and retrieves reports when ready",
            "StartAt": "checkJob",
            "States": {
              "checkJob": {
                "Type": "Task",
                "Resource": "arn:aws:lambda:#{AWS::Region}:#{AWS::AccountId}:function:cpmsReportWorkflow-dev-check-job",
                "Next": "completeCheck",
                "InputPath": "$.id",
                "ResultPath": "$.jobStatus",
                "OutputPath": "$"
              },
              "completeCheck": {
                "Type": "Choice",
                "Choices": [
                  {
                    "Variable": "$.jobStatus",
                    "StringEquals": "COMPLETE",
                    "Next": "fetchS3"
                  },
                  {
                    "Variable": "$.jobStatus",
                    "StringEquals": "RUNNING",
                    "Next": "waitXSeconds"
                  },
                  {
                    "Variable": "$.jobStatus",
                    "StringEquals": "FAILED",
                    "Next": "fail"
                  },
                  {
                    "Variable": "$.jobStatus",
                    "StringEquals": "MAXRETRIES",
                    "Next": "timedOut"
                  }
                ]
              },
              "waitXSeconds": {
                "Type": "Wait",
                "SecondsPath": "$.wait_time",
                "Next": "checkJob"
              },
              "fetchS3": {
                "Type": "Task",
                "Resource": "arn:aws:lambda:#{AWS::Region}:#{AWS::AccountId}:function:cpmsReportWorkflow-dev-fetch-s3",
                "End": true,
                "InputPath": "$.id"
              },
              "fail": {
                "Type": "Fail",
                "Cause": "Report job failed",
                "Error": "Cpms report failed"
              },
              "timedOut": {
                "Type": "Fail",
                "Cause": "Max duration of checks failed",
                "Error": "cpmsStatusPaid reached maximum retries"
              }
            }
          }
        }
      },
      "activities": []
    }
  },
  "package": {
    "artifactDirectoryName": "serverless/cpmsReportWorkflow/dev/1523364249904-2018-04-10T12:44:09.904Z",
    "artifact": ""
  }
}